.top-bar {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.waiting-text {
  padding-top: 50px;
}

.p1-score {
  color: #42A5F5;
  padding-left: 20px;
}

.p2-score {
  color: #EF5350;
  padding-right: 20px;
}

.styled-image {
  border-radius: 15px; /* Adjust for desired roundness */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Shadow settings */
  max-width: 100%; /* Optional: ensures responsiveness */
  height: auto;    /* Maintains aspect ratio */
}

.guess-textbox {
  max-width: 800px;
}

.bg-box {
  color: #fff;
  border-radius: 2px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
  height: auto;
  width: 100%;
  max-width: 100%;
  padding: 40px;
  /*background-color: #cfcfcf;*/
}

.box-blue {
  background-color: #42A5F5;
}

.box-red {
  background-color: #EF5350;
}