.top-bar {
  position: absolute;
  left: 0;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.waiting-text {
  padding-top: 50px;
}

.p1-score {
  color: #42A5F5;
  padding-left: 20px;
}

.p2-score {
  color: #EF5350;
  padding-right: 20px;
}

.round {

}